p{
    font-size: 0.7rem;
}

.card{
    background-color:white;
    border-radius: 20px;
    border: 1px solid cyan;
    transition: all 0.5s linear;
    padding: 0.5rem 2rem;

}
.content{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column-reverse; */
    align-items:center;
    grid-column-gap: 0.5rem;
    
 
}
h5{
    text-align: initial;
}
.col .card:hover{
    border-color: yellow;
    transform: skew(20px);
}
.icon{
    display: flex;
    column-gap: 0.4rem;
}
.editIcon, .checkIcon, .closeIcon, .deleteIcon{
    cursor: pointer;
    transition: all 0.3s linear;
    font-size: 20px;
}
.editIcon{
    color: rgb(37, 156, 156);
    margin-right:0.4rem;
}
.closeIcon{
    color: rgb(251, 92, 24);
}
.checkIcon{
    color: rgb(44 255 0)
}
.deleteIcon{
    color:red;
}
.editIcon:hover, .checkIcon:hover, .closeIcon:hover, .deleteIcon:hover{
    transform: scale(1.2);
}
.date{
    position: relative;
}
.inputDate{
    height: 2rem;
    border: 1px solid #83e2e2;
    border-radius: 11px;
    text-align: center;
    position: absolute;
    right: 0;
}
.time{
    display: flex;
    flex-direction: column;
    grid-column-gap: 0.3rem;

}
.timer{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 8px 0;
}

@media screen and (max-width: 576px) {
    
}


